
<div class="container">

  @if(pantalla === 'inicio'){
    <div class="inicio">
      <h1>Mayor o Menor</h1>
      <p>Adivina si la siguiente carta será mayor o menor que la actual. ¡Acumula puntos y trata de no perder!</p>
      <p>Si presionas mayor y la carta era J, Q, K, o si presionas menor y la carta era 1, 2, 3 ¡ganas 5 puntos!</p>
      <button (click)="comenzarJuego()">Comenzar</button>
    </div>
  }

  @if(pantalla === 'juego'){
    <div class="game">
      <div class="info">
        <h2>¿La siguiente carta será mayor o menor?</h2>
        <p>Tu carta: {{ cartaAleatoria.nombre }} ({{ cartaAleatoria.valor }})</p>
        <p *ngIf="resultado()">{{ resultado() }}</p>
        <p>Puntos: {{ puntos() }}</p>
      </div>
      <div class="game-area">
        <div class="card-container">
          <img src="{{ cartaAleatoria.imagen }}" alt="{{ cartaAleatoria.nombre }}">
        </div>
        <div class="buttons">
          <button (click)="compararCartas('mayor')">Mayor</button>
          <button (click)="compararCartas('menor')">Menor</button>
        </div>
        <div class="mazo">
          <img src="assets/cartasNaipes/ParteAtras.png" alt="Mazo">
        </div>
      </div>
    </div>
  }

  @if(pantalla === 'fin'){
  <div class="fin">
    <h1>¡Perdiste!</h1>
    <p>Tu puntaje final: {{ puntos() }}</p>
    <button (click)="comenzarJuego()">Volver a jugar</button>
  </div>
  }

  @if (mostrarModalSalir) {
    <div class="modal-overlay">
      <div class="modal">
        <h3>¿Seguro que querés salir?</h3>
        <p>Si salís, vas a perder el puntaje actual.</p>
        <div class="modal-actions">
          <button (click)="confirmarSalir()">Sí, salir</button>
          <button (click)="cancelarSalir()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</div>
