
.home-page {
  background: linear-gradient(#fecb00, #ff9400);
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.home-header {
  text-align: center;
  margin-bottom: 10px;
}

.home-header h1 {
  color: #4F200D;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card {
  background: #fff;
  padding: 25px 20px;
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
  text-align: center;
  min-width: 30dvw;
  margin: 1rem 0;
}

.card h2 {
  color: #4F200D;
  margin-bottom: 12px;
}

.card p {
  color: #333;
  margin-bottom: 15px;
}

.btn {
  background-color: #FFD93D;
  color: #4F200D;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.btn:hover {
  background-color: #FF9A00;
  transform: translateY(-2px);
}

.section-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}