<div>
  @if(loading){
    <div class="loading">
      Cargando usuario...
    </div>
  }
  

  @if(error){
    <div class="error">
      {{ error }}
    </div>
  }
  

  <div class="quien-soy-container" *ngIf="usuario">
    <div class="perfil">
      <img [src]="usuario.avatar_url" alt="Foto de perfil">
      <h2>{{ usuario.name }}</h2>
      <p><strong>Usuario:</strong> {{ usuario.login }}</p>
      <p *ngIf="usuario.location"><strong>Ubicación:</strong> {{ usuario.location }}</p>
      <p><strong>Repositorios públicos:</strong> {{ usuario.public_repos }}</p>
    </div>

    <div class="explicacion-juego">
      <h3>Mi juego propio</h3>
      <p>Todos de chicos hemos visto o al menos conocido pokemon. Algo en nuestra memoria nos queda y por eso vengo a ponerlo a prueba con lo que nos entretenia de inicio y fin entre cada espacio publicitario. En mi juego propio deberas reconocer la silueta del pokemon, por cada error cometido se te otorgara una pista (letras, fisico o tipo) y tendras hasta 5 oportunidades para adivinar ¡¿QUIÉN ES ESTE POKÉMON!?</p>
    </div>
    <app-chat-button></app-chat-button>
  </div>
</div>
