<div class="ahorcado-container">
    @if (pantalla === 'inicio') {
    <div class="ahorcado-bienvenida">
      <h1>Ahorcado</h1>
      <p>¡Bienvenido al juego del Ahorcado Pokémon!</p>
      <p>Elegí la generación con la que querés jugar:</p>

      <div class="generacion-selector">
        @for (gen of [1,2,3,4,5,6,7,8,9]; track $index) {
          <button 
            class="gen-btn"
            [class.selected]="selectedGeneration === gen"
            (click)="onSelectGeneration(gen)">
            Gen {{ gen }}
          </button>
        }
      </div>

      <p>Pokémon del {{ range.from }} al {{ range.to }}</p>

      <button class="ahorcado-btn" (click)="comenzarJuego()">Empezar</button>
    </div>
  }

  @if (pantalla === 'juego') {
    <div class="ahorcado-game">
      <div class="ahorcado-info">
        <h2>Adivina el Pokémon</h2>
        <img [src]="horca" alt="Horca">
        <div class="ahorcado-text-container">
          <p>Letras Usadas: {{ adivinados.join(', ') }}</p>
          <p>Intentos: {{ intentos }}</p>
          <p>Tiempo: {{ tiempoTranscurrido() }} s</p>
          <p class="ahorcado-palabra">{{ palabraMostrada }}</p>
          @if (palabraSecreta) {
            <p>Cantidad de letras: {{ palabraSecreta.length }}</p>
          }
        </div>
      </div>

      <div class="ahorcado-game-area">
        <div class="ahorcado-info-actions">
          <button class="ahorcado-btn-salir-mini" (click)="salirConLoading()">Salir</button>
        </div>
        <div class="ahorcado-teclado">
          @for (letra of letras; track $index) {
            <button 
              class="ahorcado-tecla"
              (click)="adivinar(letra)" 
              [disabled]="adivinados.includes(letra.toLowerCase() || letra.toUpperCase()) || gano || intentos === 0">
              {{ letra }}
            </button>
          }
        </div>
      </div>
    </div>
  }
  
  <div class="ahorcado-image-wrap">
    @if (loading) {
      <div class="image-skeleton">
        <div class="spinner"></div>
      </div>
    }
  </div>

  @if (pantalla === 'fin') {
    <div class="ahorcado-final">
      @if (gano) {
        <h2>¡Felicidades! Has adivinado {{ palabraSecreta | uppercase }}</h2>
        <img [src]="selectedPokemon?.sprites?.front_default" alt="Pokemon">
        <h2>Sumaste {{ this.puntos }} puntos!</h2>
      }
      @else {
        <h2>Juego Terminado</h2>
        <div>
          <p>El Pokémon era: {{ palabraSecreta | uppercase }}</p>
          <img [src]="selectedPokemon?.sprites?.front_default" alt="Pokemon">
        </div>
        <h2>Sumaste {{ this.puntos }} puntos!</h2>
      }

      <button class="ahorcado-btn" (click)="reiniciarJuego()">Jugar de nuevo</button>
    </div>
  }

  @if (mostrarModalSalir) {
    <div class="ahorcado-modal-overlay">
      <div class="ahorcado-modal">
        <h3>¿Seguro que querés salir?</h3>
        <p>Si salís, vas a perder el puntaje actual.</p>
        <div class="ahorcado-modal-actions">
          <button class="ahorcado-btn-salir" (click)="confirmarSalir()">Sí, salir</button>
          <button class="ahorcado-btn-cancelar" (click)="cancelarSalir()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</div>


