<nav
  class="navbar-pikachu navbar navbar-expand-lg shadow-sm py-2"
  style="background: linear-gradient(90deg, #ffcb05 0%, #f5b700 100%); border-bottom: 2px solid #f2a900;"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-dark d-flex align-items-center" routerLink="/bienvenida">
      <h1 class="m-0 fs-4 text-dark">Pikachu Games ⚡</h1>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#menuPikachu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuPikachu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/juegos">Juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/registro">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/chat">Chat en vivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/encuesta">Encuesta</a>
        </li>

        @if(isAdmin){
        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/resultado-encuestas">Resultado Encuestas</a>
        </li>
        }

        <li class="nav-item">
          <a class="nav-link fw-bold text-dark" routerLink="/quien-soy">Sobre Mi</a>
        </li>

        @if(authService.isLoggedIn()){
        <li class="nav-item">
          <button class="btn btn-danger ms-2" (click)="logout()">Cerrar sesión</button>
        </li>}

        @if(!authService.isLoggedIn()){
        <li class="nav-item">
          <a routerLink="/login" class="btn btn-danger ms-2">Login</a>
        </li>
        }

        @if(!authService.isLoggedIn()){
        <li class="nav-item">
          <a routerLink="/register" class="btn btn-dark ms-2">Register</a>
        </li>}
      </ul>
    </div>
  </div>
</nav>
