
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffcb05;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 5000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.title-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #4F200D;
}

.navbar-brand h1 a {
  text-decoration: none;
  color: #4F200D;
}

.logout-btn {
  background: #ff1c1c;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: .3rem;
  border-radius: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links li a, .logout-btn {
  text-decoration: none;
  color: #4F200D;
  font-weight: bold;
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: #ff1c1c;
}

.logout-btn:hover{
  color: #ffcb05;
}

.login, .register{
  padding: .5rem 1rem;
}

.login{
  background-color: #ff1c1c;
}

.login:hover{
  color: #ffcb05 !important;
}

.register{
  background-color: #4F200D;
  color: #ffcb05 !important;
}

.register:hover{
  color: #ff1c1c !important;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .menu-toggle {
    display: block;
    color: #4F200D;
    padding: 5px 10px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: #ffcb05;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .navbar-links.active {
    display: flex;
  }
}
