<nav class="navbar">
  <div class="navbar-brand">
    <h1><a routerLink="/bienvenida">Pikachu Games ⚡</a></h1>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  </div>
  <ul class="navbar-links" [class.active]="menuOpen">
    <li><a routerLink="/juegos">Juegos</a></li>
    <li><a routerLink="/experience">Experiencia</a></li>
    <li><a routerLink="/chat">Chat en vivo</a></li>
    <li><a routerLink="/quien-soy">Sobre Mi</a></li>

    <li *ngIf="authService.isLoggedIn()">
      <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
    </li>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login" class="login">Login</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/register" class="register">Register</a>
    </li>
  </ul>
</nav>
